# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\APPS_JAVA\HolaMon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
